@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Open+Sans:wght@300;400;500;700&display=swap");
form {
  margin: 5vh auto;
  padding: 0; }
  @media (min-width: 768px) {
    form {
      width: 90%;
      margin: 5vh auto; } }
  form fieldset {
    min-height: 100vh;
    margin: 5vh auto;
    background-color: #f4f4f4;
    padding: 1.3em .5em;
    overflow-y: auto;
    height: auto;
    transition: 1s ease;
    position: relative;
    border-color: #000a;
    overflow-x: hidden; }
    @media (min-width: 768px) {
      form fieldset {
        padding: 1.5em .5em;
        border-radius: 5px;
        min-height: auto; } }
    form fieldset.open {
      background: #fff000; }
    form fieldset .field-btn {
      position: absolute;
      right: .5em;
      top: 0;
      display: block;
      width: 3em;
      padding: .8em 2em;
      border-radius: 15px; }
      form fieldset .field-btn::after, form fieldset .field-btn::before {
        position: absolute;
        display: grid;
        place-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px; }
      form fieldset .field-btn::before {
        content: 'open'; }
      form fieldset .field-btn::after {
        content: 'close';
        opacity: 0; }
      form fieldset .field-btn.active::before {
        opacity: 0; }
      form fieldset .field-btn.active::after {
        opacity: 1; }
    form fieldset legend {
      margin: 0 1em;
      font-size: 1.1em;
      text-transform: capitalize;
      background: #20262e;
      color: #ead2a1;
      border-radius: 5px;
      padding: .2em;
      border: 1px solid #333a;
      cursor: help; }
    form fieldset .input-div {
      width: 100%; }
      form fieldset .input-div label {
        margin-top: .5em; }
      form fieldset .input-div input {
        text-overflow: ellipsis;
        margin: .1em 0; }
    form fieldset:hover {
      background-color: #fff; }
    form fieldset.features h2 {
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      text-align: center; }
    form fieldset.features .feature-items {
      padding: 1em 0; }
      form fieldset.features .feature-items .item {
        background-color: #eee;
        display: flex;
        flex-direction: column;
        margin: 1em 0; }
        form fieldset.features .feature-items .item input {
          width: 100%; }
        form fieldset.features .feature-items .item textarea {
          width: 100%; }
  form .input-div {
    display: flex;
    flex-direction: column;
    margin: .5em 0 1.5em;
    padding: .5em .1em;
    transition: .3s ease;
    position: relative; }
    form .input-div .info-section {
      background-color: #fff;
      color: #f4f4f4;
      height: 0;
      width: 80%;
      padding: 1em 1em 2em;
      margin: 0 .5em 1em;
      overflow: hidden;
      transition: .5s;
      position: relative;
      border-radius: 5px;
      outline: 1px solid #ead2a1;
      outline-offset: -2px;
      cursor: help; }
      @media (max-width: 768px) {
        form .input-div .info-section {
          width: 90%; } }
      form .input-div .info-section i {
        color: #000;
        background-color: #ead2a1;
        border-radius: 50%;
        position: absolute;
        top: .5em;
        font-size: 1.5em;
        cursor: pointer;
        transition: .2s;
        animation: pulse 2s infinite; }

@keyframes pulse {
  50% {
    transform: scale(1.2); } }
      form .input-div .info-section p {
        margin: 2em 0;
        padding: 1em 0;
        line-height: 1.6; }
      form .input-div .info-section:hover {
        height: 50vh;
        overflow: auto;
        background-color: #161616; }
        form .input-div .info-section:hover i {
          color: #ead2a1;
          background-color: #161616; }
      form .input-div .info-section.active {
        height: 50vh;
        overflow: auto;
        outline: 1px dashed #ead2a1;
        background-color: #161616; }
        form .input-div .info-section.active i {
          color: #ead2a1;
          background-color: #161616;
          animation: none;
          opacity: .8; }
    form .input-div label {
      transform: translateY(-0.5em);
      text-transform: capitalize;
      transition: .2s;
      font-weight: 600; }
    form .input-div input, form .input-div textarea {
      outline: 2px solid #ead2a1;
      outline-offset: -3px;
      padding: 1em .5em;
      transition: .3s ease;
      background-color: #20262e;
      color: #ead2a1;
      border-radius: 5px;
      border: none;
      font-size: 1.1em; }
      form .input-div input:focus, form .input-div textarea:focus {
        color: #ead2a1;
        background-color: #333;
        border: none;
        letter-spacing: .1em;
        outline: 2px dashed #ead2a1;
        outline-offset: -3px; }
        form .input-div input:focus::placeholder, form .input-div textarea:focus::placeholder {
          color: #ead2a1; }
      form .input-div input:invalid, form .input-div textarea:invalid {
        background-color: #333a;
        border: none;
        outline: 2px dashed #ead2a1;
        outline-offset: -1px; }
    form .input-div textarea {
      padding: .5em;
      font-size: 1.2em; }
      form .input-div textarea:invalid {
        background-color: #f4f4f4; }
    form .input-div ::placeholder {
      color: #a3a3a3; }
    form .input-div.services input {
      margin: .5em 0; }
    form .input-div:hover label {
      transform: translateY(0) translateX(0.5em); }
  form #submit-btn {
    display: block;
    width: 80%;
    margin: 5vh auto;
    padding: 1em;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: .05em;
    border: none;
    outline: none;
    position: relative;
    isolation: isolate;
    color: #ead2a1;
    transition: .3s ease; }
    form #submit-btn::before, form #submit-btn::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: 10px;
      border: none;
      outline: none;
      transition: .3s ease; }
    form #submit-btn::before {
      background-image: linear-gradient(0deg, #20262e, #485563);
      box-shadow: inset 2px 2px 3px #fffa, inset -2px -2px 3px #000a, 5px 10px 3px rgba(0, 0, 0, 0.13); }
    form #submit-btn::after {
      background-image: linear-gradient(0deg, #485563, #20262e);
      opacity: 0;
      box-shadow: inset 2px 2px 3px #000a, inset -2px -2px 3px #fffa, 0px 5px 3px rgba(0, 0, 0, 0.22); }
    form #submit-btn:hover {
      transform: scale(0.98);
      letter-spacing: 0; }
      form #submit-btn:hover::before {
        opacity: 0; }
      form #submit-btn:hover::after {
        opacity: 1; }
    form #submit-btn:focus {
      transform: scale(0.95); }
      form #submit-btn:focus::before {
        opacity: 0; }
      form #submit-btn:focus::after {
        opacity: 1; }

#features {
  width: 100%;
  padding: 0; }
  #features p {
    text-align: center;
    margin: 5vh auto 1em; }
  #features .feature-items {
    padding: .5em; }
    #features .feature-items .feature-control {
      padding: .5em 0; }
      #features .feature-items .feature-control .feature-content {
        display: flex;
        flex-direction: column; }
        #features .feature-items .feature-control .feature-content input {
          width: 50%;
          padding: .5em;
          margin: .5em 0;
          border: 2px solid #000;
          border-radius: 5px; }
        #features .feature-items .feature-control .feature-content textarea {
          background-color: #485563;
          width: 100%; }
    #features .feature-items button {
      border-radius: 20px;
      padding: .5em 1em;
      margin: 0 .5em;
      cursor: cell;
      text-transform: capitalize;
      transition: .2s; }
      #features .feature-items button.submit-btn {
        background: linear-gradient(60deg, #20262e, #485563);
        color: #f4f4f4; }
      #features .feature-items button.clear-btn {
        background: linear-gradient(60deg, #960d28, #ac0929);
        color: #f4f4f4; }
      #features .feature-items button:active {
        transform: scale(0.9); }
  #features .feature-container {
    border: none;
    outline: none;
    background: #ead2a1;
    padding: .5em;
    margin: 5vh 0;
    border-radius: 5px;
    overflow: hidden; }
    #features .feature-container .item-name {
      border-radius: 20px;
      text-align: center;
      outline: none;
      margin: 0 auto 1em;
      width: 50%;
      text-transform: capitalize;
      background: linear-gradient(60deg, #20262e, #485563);
      box-shadow: inset 2px 2px 2px #fffa, inset -2px -2px 2px #000a, 3px 3px 3px #000a; }
    #features .feature-container .item-description {
      background-color: #485563;
      color: #ddd;
      width: 100%;
      box-shadow: inset 2px 2px 2px #fffa, inset -2px -2px 2px #000a, 3px 3px 3px #000a;
      outline: none;
      border: none; }
    #features .feature-container .feature-list .input-div {
      margin-bottom: 2em; }
      #features .feature-container .feature-list .input-div .delete-btn {
        width: 2em;
        height: 2em;
        display: grid;
        place-items: center;
        padding: .1em;
        border-radius: 50%;
        cursor: pointer;
        transform: translateY(50%);
        background-color: #000;
        color: #f4f4f4;
        box-shadow: inset 2px 2px 3px #fffa, 2px 2px 3px rgba(0, 0, 0, 0.388); }
        #features .feature-container .feature-list .input-div .delete-btn:active {
          transform: translateY(50%) scale(0.9); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 10vh; }

body {
  width: 100vw;
  min-height: 100vh;
  font-size: 16px;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  position: relative; }

#nav {
  z-index: 10;
  position: fixed;
  top: 0;
  height: 5vh;
  background-color: #29323c;
  width: 100vw;
  padding: 1.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 768px) {
    #nav {
      padding: 1.5em 10vw; } }
  #nav .brand h1 a {
    font-size: .9em;
    text-decoration: none;
    color: #ead2a1;
    text-transform: capitalize;
    cursor: pointer; }
  #nav .nav-toggle {
    border: 1px solid #ead2a1;
    padding: .5em;
    border-radius: 50%;
    position: absolute;
    right: .5em;
    width: 2em;
    height: 2em;
    padding: 1em;
    cursor: pointer;
    display: grid;
    place-items: center;
    transition: .3s ease; }
    #nav .nav-toggle .bar {
      position: absolute;
      width: 60%;
      height: 2px;
      background-color: #ead2a1;
      transition: .3s; }
      #nav .nav-toggle .bar::before, #nav .nav-toggle .bar::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background-color: #ead2a1;
        transition: .3s ease; }
      #nav .nav-toggle .bar::before {
        transform: translateY(0.3em); }
      #nav .nav-toggle .bar:after {
        transform: translateY(-0.3em); }
    #nav .nav-toggle:hover {
      transform: scale(0.95); }
    #nav .nav-toggle:active {
      transform: scale(0.9); }
    #nav .nav-toggle.active {
      transform: scale(0.95);
      transition: .5s ease; }
      #nav .nav-toggle.active .bar::before {
        transform: translateY(0); }
      #nav .nav-toggle.active .bar::after {
        transform: translateY(0); }
    @media (min-width: 768px) {
      #nav .nav-toggle {
        display: none; } }
  #nav .nav-list {
    border: none;
    background-color: #20262e;
    color: #f4f4f4;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    right: -110%;
    top: 5vh;
    transition: .5s;
    padding: 15vh .5em 0;
    z-index: -2; }
    #nav .nav-list ul {
      list-style: none; }
      #nav .nav-list ul li {
        margin-bottom: 2em;
        display: flex;
        padding: .5em 0; }
        #nav .nav-list ul li a {
          display: block;
          text-decoration: none;
          text-transform: capitalize;
          color: #f4f4f4;
          width: 100%; }
        #nav .nav-list ul li i {
          flex-basis: 5%;
          display: grid;
          place-items: center;
          color: #ead2a1;
          margin-right: .2em; }
    @media (max-width: 768px) {
      #nav .nav-list.active {
        right: -5vw; }
        #nav .nav-list.active ul {
          border: 1px solid #ead2a1;
          width: 95%;
          padding: 1em .5em;
          display: flex;
          flex-direction: column;
          align-items: right;
          justify-content: center; }
          #nav .nav-list.active ul li {
            background: #29323c;
            padding: auto; }
            #nav .nav-list.active ul li i {
              margin: 0;
              flex-basis: 15%; } }
    @media (min-width: 768px) {
      #nav .nav-list {
        position: relative;
        display: flex;
        background-color: #000;
        right: 0;
        top: 0;
        padding: .3em 0;
        border-radius: 5px;
        min-height: auto;
        z-index: 5; }
        #nav .nav-list ul {
          display: flex;
          flex-direction: row; }
          #nav .nav-list ul li {
            margin: 0 .5em 0 2em;
            padding: .5em 1em; }
            #nav .nav-list ul li a {
              color: #f4f4f4;
              cursor: pointer;
              display: block; }
            #nav .nav-list ul li i {
              color: #ead2a1;
              padding-right: .3em; }
            #nav .nav-list ul li:hover a {
              color: #f3e5c9; }
            #nav .nav-list ul li:hover i {
              color: #f4f4f4; } }

#container {
  margin: 5vh 0;
  width: 100%;
  overflow-x: hidden;
  padding: .5em;
  position: relative;
  transition: .5s; }
  @media (min-width: 768px) {
    #container {
      padding: 0 5vw; } }
  @media (max-width: 768px) {
    #container::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #29323c;
      opacity: 0;
      transition: .5s;
      z-index: -5; }
    #container.dim::after {
      opacity: .5;
      z-index: 5; } }
  #container header {
    text-align: center;
    margin: 10vh auto;
    min-height: 100vh; }
    #container header h1 {
      font-size: 3em;
      color: #29323c; }
    #container header h2 {
      font-size: 2em;
      color: #ffff;
      margin: .5em auto;
      text-shadow: 1px 1px 1px #29323c, 0 0 5px #ead2a1, 0 0 20px #000a; }
    #container header p {
      font-size: 1em;
      margin: 5vh auto 1em; }
      #container header p a {
        color: #000;
        transition: .2s; }
        #container header p a:hover {
          color: #000a;
          text-decoration: none; }
    #container header figure {
      width: 50%;
      overflow: hidden;
      margin: 10vh auto 5vh;
      border-radius: 35px;
      background: #29323c; }
      #container header figure img {
        width: 100%;
        border-radius: 5px;
        transition: .2s; }
      #container header figure:hover img {
        transform: scale(0.95); }
      #container header figure:active img {
        transform: scale(0.8); }
    @media (min-width: 768px) {
      #container header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0; }
        #container header .title {
          margin: 0 5vw; }
          #container header .title h1 {
            font-size: 3.5em; }
          #container header .title h2 {
            font-size: 2em; }
          #container header .title p {
            font-size: 1.3em; }
        #container header figure {
          width: 40%;
          margin: 0 5vw;
          overflow: hidden; } }
  #container #about textarea:focus {
    background: #485563; }

footer {
  width: 100%;
  padding: 5vh 5vw;
  background-color: #20262e;
  color: #ead2a1;
  text-align: center;
  text-transform: capitalize; }
  footer p {
    color: #f4f4f4;
    margin-top: .5em; }
  footer a {
    color: #ead2a1;
    text-decoration: none;
    position: relative; }
    footer a::after {
      position: absolute;
      content: '';
      left: 50%;
      bottom: 0;
      transform: translateX(-50%) translateY(200%);
      width: 80%;
      height: 2px;
      opacity: 0;
      background-color: #ead2a1;
      transition: .2s; }
    footer a:hover::after {
      opacity: 1;
      transform: translateX(-50%) translateY(0%); }
