@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Open+Sans:wght@300;400;500;700&display=swap");
form {
  margin: 5vh auto;
  padding: .2em; }
  @media (min-width: 768px) {
    form {
      width: 90%;
      margin: 5vh auto; } }
  form fieldset {
    margin: 5vh auto;
    background-color: #f4f4f4;
    padding: 1.3em .2em;
    overflow-y: auto;
    height: auto;
    transition: 1s ease;
    border-radius: 3px;
    position: relative; }
    form fieldset.open {
      background: #fff000; }
    form fieldset .field-btn {
      position: absolute;
      right: .5em;
      top: 0;
      display: block;
      width: 3em;
      padding: .8em 2em;
      border-radius: 15px;
      border: 1px solid green; }
      form fieldset .field-btn::after, form fieldset .field-btn::before {
        position: absolute;
        display: grid;
        place-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px; }
      form fieldset .field-btn::before {
        content: 'open'; }
      form fieldset .field-btn::after {
        content: 'close';
        opacity: 0; }
      form fieldset .field-btn.active::before {
        opacity: 0; }
      form fieldset .field-btn.active::after {
        opacity: 1; }
    form fieldset legend {
      margin: 0 1em;
      font-size: 1.1em;
      text-transform: capitalize; }
    form fieldset .input-div {
      width: 100%; }
      form fieldset .input-div label {
        margin-top: .5em; }
      form fieldset .input-div input {
        text-overflow: ellipsis;
        margin: .1em 0; }
    form fieldset:hover {
      background-color: #fff; }
  form .input-div {
    display: flex;
    flex-direction: column;
    margin: .5em 0 1.5em;
    padding: .5em .1em;
    transition: .3s ease;
    position: relative; }
    form .input-div label {
      transform: translateY(-0.5em);
      text-transform: capitalize;
      transition: .2s;
      font-weight: 600; }
    form .input-div input {
      outline: 2px solid #ead2a1;
      outline-offset: -3px;
      padding: 1em .5em;
      transition: .5s ease;
      background-color: #161616;
      color: #ead2a1;
      border-radius: 5px;
      border: none; }
      form .input-div input:focus {
        color: #ead2a1;
        background-color: #333;
        border: none;
        letter-spacing: .2em;
        outline: 2px solid #ead2a1;
        outline-offset: -3px; }
      form .input-div input:invalid {
        background-color: #333a;
        border: none;
        outline: 2px dashed #ead2a1;
        outline-offset: -2px; }
    form .input-div textarea {
      padding: .5em; }
      form .input-div textarea:invalid {
        background-color: #f4f4f4; }
    form .input-div ::placeholder {
      text-transform: capitalize;
      color: #a3a3a3; }
    form .input-div.services input {
      margin: .5em 0; }
    form .input-div:hover label {
      transform: translateY(0) translateX(0.5em); }
  form #submit-btn {
    display: block;
    width: 100%;
    margin: 5vh auto;
    padding: 1em;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: .05em;
    border: none;
    outline: none;
    position: relative;
    isolation: isolate;
    background-color: #000;
    color: #ead2a1;
    transition: .3s ease; }
    form #submit-btn::before, form #submit-btn::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: 10px;
      border: none;
      outline: none;
      transition: .2s ease; }
    form #submit-btn::before {
      box-shadow: inset 2px 2px 3px #fffa, inset -2px -2px 3px #000a; }
    form #submit-btn::after {
      opacity: 0;
      box-shadow: inset 2px 2px 3px #000a, inset -2px -2px 3px #fffa; }
    form #submit-btn:hover {
      transform: scale(0.98);
      letter-spacing: 0; }
      form #submit-btn:hover::before {
        opacity: 0; }
      form #submit-btn:hover::after {
        opacity: 1; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100vw;
  min-height: 100vh;
  font-size: 16px;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif; }

#nav {
  z-index: 10;
  position: fixed;
  top: 0;
  height: 5vh;
  background-color: #161616;
  width: 100%;
  padding: 1.5em 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #nav .brand h1 a {
    font-size: .9em;
    text-decoration: none;
    color: #ead2a1;
    text-transform: capitalize;
    cursor: pointer; }
  #nav .nav-toggle {
    border: 1px solid #ead2a1;
    padding: .5em;
    border-radius: 50%;
    position: absolute;
    right: .5em;
    width: 2em;
    height: 2em;
    padding: 1em;
    cursor: pointer;
    display: grid;
    place-items: center;
    transition: .3s ease; }
    #nav .nav-toggle .bar {
      position: absolute;
      width: 60%;
      height: 2px;
      background-color: #ead2a1;
      transition: .3s; }
      #nav .nav-toggle .bar::before, #nav .nav-toggle .bar::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background-color: #ead2a1;
        transition: .3s ease; }
      #nav .nav-toggle .bar::before {
        transform: translateY(0.3em); }
      #nav .nav-toggle .bar:after {
        transform: translateY(-0.3em); }
    #nav .nav-toggle:hover {
      transform: scale(0.95); }
    #nav .nav-toggle:active {
      transform: scale(0.9); }
    #nav .nav-toggle.active {
      transform: scale(0.95);
      transition: .5s ease; }
      #nav .nav-toggle.active .bar::before {
        transform: translateY(0); }
      #nav .nav-toggle.active .bar::after {
        transform: translateY(0); }
    @media (min-width: 768px) {
      #nav .nav-toggle {
        display: none; } }
  #nav .nav-list {
    border: none;
    background-color: #161616;
    color: #f4f4f4;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    right: -110%;
    top: 7vh;
    transition: .5s;
    padding: 1em .5em;
    display: grid;
    place-items: center; }
    #nav .nav-list ul {
      list-style: none; }
      #nav .nav-list ul li {
        margin-bottom: 1em; }
        #nav .nav-list ul li a {
          text-decoration: none;
          text-transform: capitalize;
          color: #f4f4f4; }
    #nav .nav-list.active {
      right: 0; }
    @media (min-width: 768px) {
      #nav .nav-list {
        position: relative;
        display: flex;
        background-color: #000;
        right: 0;
        top: 0;
        padding: .3em 0;
        border-radius: 5px;
        min-height: auto; }
        #nav .nav-list ul {
          display: flex; }
          #nav .nav-list ul li {
            margin: 0 .5em 0 2em; }
            #nav .nav-list ul li a {
              color: #ead2a1;
              cursor: pointer;
              display: block; }
            #nav .nav-list ul li:hover a {
              color: #f3e5c9; } }

#container {
  margin: 5vh 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 1em .5em;
  position: relative; }
  @media (min-width: 768px) {
    #container {
      padding: 5vh 5vw; } }
  #container header {
    text-align: center;
    margin: 1em auto; }

footer {
  width: 100%;
  padding: 1em 5vw;
  background-color: #000;
  color: #ead2a1;
  text-align: center;
  text-transform: capitalize; }
  footer p {
    color: #f4f4f4;
    margin-top: .5em; }
