* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100vw;
  font-size: 16px;
  overflow-x: hidden; }

#container {
  width: 100%;
  overflow-x: hidden;
  padding: 0 5vw;
  position: relative; }
  #container #nav {
    z-index: 10;
    position: sticky;
    top: 0;
    height: 5vh;
    background-color: #eee;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #container #nav .brand h1 a {
      font-size: .9em;
      text-decoration: none;
      color: #000;
      text-transform: capitalize; }
    #container #nav .nav-toggle {
      border: 1px solid #000;
      padding: .5em;
      border-radius: 50%;
      position: absolute;
      right: 0;
      width: 1.5em;
      height: 1.5em;
      cursor: pointer;
      display: grid;
      place-items: center;
      transition: .3s ease; }
      #container #nav .nav-toggle .bar {
        position: absolute;
        width: 70%;
        height: 2px;
        background-color: #000; }
      #container #nav .nav-toggle:hover {
        transform: scale(0.95); }
      #container #nav .nav-toggle:active {
        transform: scale(0.9); }
      @media (min-width: 768px) {
        #container #nav .nav-toggle {
          display: none; } }
    #container #nav .nav-list {
      list-style: none;
      border: none;
      background-color: #fff000;
      color: #f4f4f4;
      width: 100%;
      position: absolute;
      right: -110%;
      top: 5vh;
      transition: .5s;
      z-index: -1; }
      #container #nav .nav-list li {
        margin-bottom: 1em; }
        #container #nav .nav-list li a {
          text-decoration: none;
          text-transform: capitalize;
          color: #f4f4f4; }
      #container #nav .nav-list.active {
        right: 0; }
      @media (min-width: 768px) {
        #container #nav .nav-list {
          position: relative;
          display: flex;
          background-color: #ddd;
          right: 0;
          top: 0;
          padding: 0; }
          #container #nav .nav-list li {
            margin: 0 1em;
            cursor: pointer; }
            #container #nav .nav-list li a {
              color: #000; } }
  #container header {
    text-align: center;
    margin: 1em auto; }
  #container form {
    border: 1px solid #000;
    margin: 5vh 0;
    padding: .2em; }
    #container form .input-div {
      display: flex;
      flex-direction: column;
      margin: .5em 0;
      padding: .5em .1em; }
      #container form .input-div label {
        margin-bottom: .5em;
        text-transform: capitalize; }
      #container form .input-div input {
        padding: .5em; }
  #container footer {
    width: 100%;
    padding: .5em 5vw;
    background-color: #ddd;
    text-align: center;
    position: sticky;
    bottom: .5em; }
