#features {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 .2em;
    p {
        text-align: center;
        margin: .5em auto;
    }
    // border: 1px solid red;
    // padding: 0;
    .feature-items {
        // border: 1px solid blue;
        padding: 0;

        .feature-control {
            // border: 1px solid yellow;
            padding: .5em 0;
            .feature-content {
                // border: 1px solid pink;
                display: flex;
                flex-direction: column;
                input {
                    width: 50%;
                    padding: .5em;
                    margin: .5em 0;
                    border: 2px solid#000;
                    border-radius: 5px;
                }

                textarea {
                    background-color: $overlay-blue-light;
                }
            }
        }

        button {
            border-radius: 20px;
            padding: .5em 1em;
            margin: 0 .5em;
            cursor: cell;
            text-transform: capitalize;
            &.submit-btn {
                background: $overlay;
                color: $text-light;
            }
            &.clear-btn {
                background: $background-crimson;
                color: $text-light;
            }
        }
    }

    .feature-container {
        border: none;
        outline: none;
        background: $text-brand;
        padding:.5em;
        margin: 5vh 0;
        border-radius: 5px;

        input, textarea {
            width: 100%;
        }
    }
}