form {
    @media (min-width: 768px) {
        width: 90%;
        margin: 5vh auto;
    }
    // border: 1px solid #000;
    margin: 5vh auto;
    padding: .2em;

    fieldset {
        margin: 5vh auto;
        background-color: $invalid;
        padding: 1.3em .2em;
        overflow-y: auto;
        height: auto;
        transition: 1s ease;
        border-radius: 3px;
        position: relative;
        // active class
        &.open {
            background: #fff000;
        }
        // end of active class
        // button
        .field-btn {
            position: absolute;
            right: .5em;
            top:0;
            display: block;
            width: 3em;
            padding: .8em 2em;
            border-radius: 15px;
            border: 1px solid green;
            &::after, &::before {
                position: absolute;
                display: grid;
                place-items: center;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }
            &::before {
                content: 'open';
            }
            &::after {
                content: 'close';
                opacity: 0;
            }

            // button active
            &.active {
                &::before {opacity: 0;}
                &::after {opacity: 1;}
            }
        }
        // end of button
        
        legend {
            margin: 0 1em;
            font-size: 1.1em;
            text-transform: capitalize;
        }

        .input-div {
            width: 100%;
            label {
                margin-top: .5em;
            }
            input {
                text-overflow: ellipsis;
                margin: .1em 0;
            }
        }

        &:hover {
            background-color: #fff;
        }
    }

    .input-div {
        display: flex;
        flex-direction: column;
        // border: 2px solid red;
        margin: .5em 0 1.5em;
        padding: .5em .1em;
        transition: .3s ease;
        position: relative;

        label {
            // border: 1px solid green;
            transform: translateY(-.5em);
            text-transform: capitalize;
            transition: .2s;
            font-weight: 600;
        }

        input {
            outline: 2px solid $text-brand;
            outline-offset: -3px;
            padding: 1em .5em;
            transition: .5s ease;
            background-color: #161616;
            color: $text-brand;
            border-radius: 5px;
            border: none;


            &:focus {
                color: $text-brand;
                background-color: #333;
                border: none;
                letter-spacing: .2em;
                outline: 2px solid $text-brand;
                outline-offset: -3px;
            }

            &:invalid {
                background-color: #333a;
                border: none;
                outline: 2px dashed $text-brand;
                outline-offset: -2px;
            } 
        }

        textarea {
            padding: .5em;
            &:invalid {
                background-color: $invalid;
            }
        }

        ::placeholder {
            text-transform: capitalize;
            color: hsl(0, 0%, 64%);
        }
        // services div
        &.services {
            input {
                margin: .5em 0;
            }
        }

        // input hover state
        &:hover {
            label {
                transform: translateY(0) translateX(.5em);
            }
        }
    }

    // submit button       
    #submit-btn {
        display: block;
        width: 100%;
        margin: 5vh auto;
        padding: 1em;
        cursor: pointer;
        border-radius: 10px;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 600;
        letter-spacing: .05em;
        border: none;
        outline: none;
        position: relative;
        isolation: isolate;
        background-color: $text-dark;
        color: $text-brand;
        transition: .3s ease;

        // button box shadow
        &::before, &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            border-radius: 10px;
            border: none;
            outline: none;
            transition: .2s ease;
        }

        &::before {
            box-shadow: inset 2px 2px 3px #fffa,
                        inset -2px -2px 3px #000a;
        }
        &::after {
            opacity: 0;
            box-shadow: inset 2px 2px 3px #000a,
                        inset -2px -2px 3px #fffa;
        }

        // button hover state
        &:hover {
            transform: scale(.98);
            letter-spacing: 0;
            &::before {opacity: 0;}
            &::after {opacity: 1;}
        }
    }
}