form {
    @media (min-width: 768px) {
        width: 90%;
        margin: 5vh auto;
    }
    // border: 1px solid #000;
    margin: 5vh auto;
    padding: .2em;

    fieldset {
        background-color: $invalid;
        padding: 1em .2em;
        overflow-y: auto;
        height: 0vh;
        transition: 1s ease;
        &:hover {
            height: 70vh;
        }
        legend {
            margin: 0 1em;
        }

        .input-div {
            width: 80%;
            label {
                margin-top: .5em;
            }
            input {
                margin: 1em 0;
            }
        }
    }

    .input-div {
        display: flex;
        flex-direction: column;
        // border: 2px solid red;
        margin: .5em 0 1.5em;
        padding: .5em .1em;
        transition: .3s ease;
        position: relative;

        label {
            // border: 1px solid green;
            transform: translateY(-.5em);
            text-transform: capitalize;
            transition: .2s;
            font-weight: 600;
        }

        input {
            border: 1px solid #000;
            padding: 1em .5em;
            transition: .5s ease;
            background-color: #000;
            color: $text-brand;
            border-radius: 5px;

            &:focus {
                color: #fff;
                background-color: #000;
                letter-spacing: .2em;
            }

            &:invalid {
                // background-color: $invalid;
                background-color: #333;
            } 
        }

        textarea {
            padding: .5em;
            &:invalid {
                background-color: $invalid;
            }
        }

        ::placeholder {
            text-transform: capitalize;
            color: hsl(0, 0%, 64%);
        }

        // input hover state
        &:hover {
            label {
                transform: translateY(0) translateX(.5em);
            }
        }
    }

    // submit button       
    button {
        display: block;
        width: 100%;
        margin: 5vh auto;
        padding: 1em;
        cursor: pointer;
        border-radius: 10px;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 600;
        letter-spacing: .05em;
        border: none;
        outline: none;
        position: relative;
        isolation: isolate;
        background-color: $text-dark;
        color: $text-brand;
        transition: .3s ease;

        // button box shadow
        &::before, &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            border-radius: 10px;
            border: none;
            outline: none;
            transition: .2s ease;
        }

        &::before {
            box-shadow: inset 2px 2px 3px #fffa,
                        inset -2px -2px 3px #000a;
        }
        &::after {
            opacity: 0;
            box-shadow: inset 2px 2px 3px #000a,
                        inset -2px -2px 3px #fffa;
        }

        // button hover state
        &:hover {
            transform: scale(.98);
            letter-spacing: 0;
            &::before {opacity: 0;}
            &::after {opacity: 1;}
        }
    }
}