form {
    @media (min-width: 768px) {
        width: 90%;
        margin: 5vh auto;
    }
    // border: 1px solid #000;
    margin: 5vh auto;
    padding: .2em;

    fieldset {
        margin: 5vh auto;
        background-color: $invalid;
        padding: 1.3em .2em;
        overflow-y: auto;
        height: auto;
        transition: 1s ease;
        border-radius: 5px;
        position: relative;
        border-color: #000a;
        overflow-x: hidden;
        // active class
        &.open {
            background: #fff000;
        }
        // end of active class
        // button
        .field-btn {
            position: absolute;
            right: .5em;
            top:0;
            display: block;
            width: 3em;
            padding: .8em 2em;
            border-radius: 15px;
            border: 1px solid green;
            &::after, &::before {
                position: absolute;
                display: grid;
                place-items: center;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }
            &::before {
                content: 'open';
            }
            &::after {
                content: 'close';
                opacity: 0;
            }

            // button active
            &.active {
                &::before {opacity: 0;}
                &::after {opacity: 1;}
            }
        }
        // end of button
        
        legend {
            margin: 0 1em;
            font-size: 1.1em;
            text-transform: capitalize;
            background-color: $background;
            color: $text-brand;
            border-radius: 5px;
            padding: .2em;
            border: 2px solid #333a;
        }

        .input-div {
            width: 100%;
            label {
                margin-top: .5em;
            }
            input {
                text-overflow: ellipsis;
                margin: .1em 0;
            }
        }

        &:hover {
            background-color: #fff;
        }
    }

    .input-div {
        display: flex;
        flex-direction: column;
        // border: 2px solid red;
        margin: .5em 0 1.5em;
        padding: .5em .1em;
        transition: .3s ease;
        position: relative;

        // INFO SECTION
        .info-section {
            background-color: #fff;
            color: $text-light;
            height: 0;
            width: 80%;
            padding: 1em 1em 2em;
            margin: 0 .5em 1em;
            overflow: hidden;
            transition: .5s;
            position: relative;
            border-radius: 5px;
            outline: 1px solid $text-brand;
            outline-offset: -2px;
            cursor: help;

            i {
                color: #000;
                background-color: $text-brand;
                border-radius: 50%;
                position: absolute;
                top: .5em;
                font-size: 1.5em;;
                cursor: pointer;
                transition: .2s;
                animation: pulse 2s infinite;

                @keyframes pulse {
                    50% {
                        transform: scale(1.2);
                    }
                }
            }

            p {
                margin: 2em 0;
                padding: 1em 0;
                line-height: 1.6;
            }

            &:hover {
                height: 50vh;
                background-color: $background;
                i {
                    color: $text-brand;
                    background-color: $background;
                }
            }

            //  ACTIVE CLASS
            &.active {
                height: 50vh;
                outline: 1px dashed $text-brand;
                background-color: $background;

                i {
                    color: $text-brand;
                    background-color: $background;
                    animation: none;
                    opacity: .8;
                }
            }
        }

        label {
            // border: 1px solid green;
            transform: translateY(-.5em);
            text-transform: capitalize;
            transition: .2s;
            font-weight: 600;
        }

        input {
            outline: 2px solid $text-brand;
            outline-offset: -3px;
            padding: 1em .5em;
            transition: .3s ease;
            background-color: $background;
            color: $text-brand;
            border-radius: 5px;
            border: none;
            font-size: 1.1em;


            &:focus {
                color: $text-brand;
                background-color: #333;
                border: none;
                letter-spacing: .2em;
                outline: 2px dashed $text-brand;
                outline-offset: -3px;
                &::placeholder {
                    color: $text-brand;
                }
            }

            &:invalid {
                background-color: #333a;
                border: none;
                outline: 2px dashed $text-brand;
                outline-offset: -1px;
            } 
        }

        textarea {
            padding: .5em;
            font-size: 1.2em;
            &:invalid {
                background-color: $invalid;
            }
        }

        ::placeholder {
            text-transform: capitalize;
            color: hsl(0, 0%, 64%);
        }
        // services div
        &.services {
            input {
                margin: .5em 0;
            }
        }

        // input hover state
        &:hover {
            label {
                transform: translateY(0) translateX(.5em);
            }
        }
    }

    // submit button       
    #submit-btn {
        display: block;
        width: 100%;
        margin: 5vh auto;
        padding: 1em;
        cursor: pointer;
        border-radius: 10px;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 600;
        letter-spacing: .05em;
        border: none;
        outline: none;
        position: relative;
        isolation: isolate;
        color: $text-brand;
        transition: .3s ease;

        // button box shadow
        &::before, &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            border-radius: 10px;
            border: none;
            outline: none;
            transition: .3s ease;
        }

        &::before {
            background-image: linear-gradient(0deg, #000, #333a);
            box-shadow: inset 2px 2px 3px #fffa,
                        inset -2px -2px 3px #000a,
                        5px 10px 3px rgba(0, 0, 0, 0.130);
        }
        &::after {
            background-image: linear-gradient(0deg, #333a, #000);
            opacity: 0;
            box-shadow: inset 2px 2px 3px #000a,
                        inset -2px -2px 3px #fffa,
                        0px 5px 3px rgba(0, 0, 0, 0.220);
        }

        // button hover state
        &:hover {
            transform: scale(.98);
            letter-spacing: 0;
            &::before {opacity: 0;}
            &::after {opacity: 1;}
        }
        // button focus state
        &:focus {
            transform: scale(.95);
            &::before {opacity: 0;}
            &::after {opacity: 1;}
        }
    }
}