@import 'variables';
@import 'form';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    font-size: 16px;
    overflow-x: hidden;
    font-family: $font-sans;
}
#nav {
    z-index: 10;
    position: fixed;
    top: 0;
    height: 5vh;
    background-color: #000;
    width: 100%;
    padding: 1.5em 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand {
        h1 {
            a {
                font-size: .9em;
                text-decoration: none;
                color: $text-brand;
                text-transform: capitalize;
                cursor: pointer;
            }
        }
    }

    // hamburger display
    .nav-toggle {
        border: 1px solid $text-brand;
        padding: .5em;
        border-radius: 50%;
        position: absolute;
        right: .5em;
        width: 2em;
        height: 2em;
        padding: 1em;
        cursor: pointer;
        display: grid;
        place-items: center;
        transition: .3s ease;

        .bar {
            position: absolute;
            width: 60%;
            height: 2px;
            background-color: $text-brand;
            transition: .3s;

            &::before, &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 2px;
                background-color: $text-brand;
                transition: .3s ease;
            }
            &::before {
                transform: translateY(.3em);
            }
            &:after {
                transform: translateY(-.3em);
            }
        }

        &:hover {
            transform: scale(.95);
        }

        &:active {
            transform: scale(.9)
        }

        &.active {
            transform: scale(.95);
            transition: .5s ease;
            .bar {
            &::before { transform: translateY(0);}
            &::after { transform: translateY(0);}
            }
        }
        // desktop: hide hamburger
        @media (min-width: 768px) {
            display: none;
        }
    }

    // nav-list mobile first**
    .nav-list {
        border: none;
        background-color: #161616;
        color: #f4f4f4;
        width: 100%;
        min-height: 100vh;
        position: absolute;
        right: -110%;
        top: 7vh;
        transition: .5s;
        padding: 1em .5em;
        display: grid;
        place-items: center;
        ul {
            list-style: none;
            li {
                margin-bottom: 1em;

                a {
                    text-decoration: none;
                    text-transform: capitalize;
                    color: #f4f4f4;
                }
            }
        }
        // active menu
        &.active {
            right: 0;
        }

        // desktop nav-list
        @media (min-width: 768px) {
            position: relative;
            display: flex;
            background-color: #000;
            right: 0;
            top: 0;
            padding: .3em 0;
            border-radius: 5px;
            min-height: auto;

        ul {
            display: flex;
            li {
                margin: 0 .5em 0 2em;
                a {
                    color: #f4f4f4;
                    cursor: pointer;
                    display: block;
                }
                &:hover {
                    a {
                        color: #fffa;
                    }
                }
            }
        }
        }

        // end of desktop nav-list
    }

    // end of nav-list mobile first**
}
#container {
    @media (min-width: 768px){
        padding: 5vh 5vw;
    }
    margin: 5vh 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 1em .5em;
    position: relative;

    

    header {
        text-align: center;
        margin: 1em auto;
    }

 

}
footer {
    width: 100%;
    padding: 1em 5vw;
    background-color: #000;
    color: $text-brand;
    text-align: center;
    text-transform: capitalize;

    p {
        color: #f4f4f4;
        margin-top: .5em;
    }
}