@import 'variables';
@import 'form';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
    // border: 1px solid red;
}

body {
    width: 100vw;
    min-height: 100vh;
    font-size: 16px;
    overflow-x: hidden;
    font-family: $font-sans;
    position: relative;
}
#nav {
    z-index: 10;
    position: fixed;
    top: 0;
    height: 5vh;
    background-color: $overlay-blue-dark;
    width: 100%;
    padding: 1.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 768px) {
        padding: 1.5em 10vw;
    }

    .brand {
        h1 {
            a {
                font-size: .9em;
                text-decoration: none;
                color: $text-brand;
                text-transform: capitalize;
                cursor: pointer;
            }
        }
    }

    // hamburger display
    .nav-toggle {
        border: 1px solid $text-brand;
        padding: .5em;
        border-radius: 50%;
        position: absolute;
        right: .5em;
        width: 2em;
        height: 2em;
        padding: 1em;
        cursor: pointer;
        display: grid;
        place-items: center;
        transition: .3s ease;

        .bar {
            position: absolute;
            width: 60%;
            height: 2px;
            background-color: $text-brand;
            transition: .3s;

            &::before, &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 2px;
                background-color: $text-brand;
                transition: .3s ease;
            }
            &::before {
                transform: translateY(.3em);
            }
            &:after {
                transform: translateY(-.3em);
            }
        }

        &:hover {
            transform: scale(.95);
        }

        &:active {
            transform: scale(.9)
        }

        &.active {
            transform: scale(.95);
            transition: .5s ease;
            .bar {
            &::before { transform: translateY(0);}
            &::after { transform: translateY(0);}
            }
        }
        // desktop: hide hamburger
        @media (min-width: 768px) {
            display: none;
        }
    }

    // nav-list mobile first**
    .nav-list {
        border: none;
        background-color: $overlay-blue-darker;
        color: #f4f4f4;
        width: 100%;
        min-height: 100vh;
        position: absolute;
        right: -110%;
        top: 5vh;
        transition: .5s;
        padding: 15vh .5em 0;
        z-index: -2;
        ul {
            list-style: none;
            
            li {
                margin-bottom: 2em;

                a {
                    display: block;
                    text-decoration: none;
                    text-transform: capitalize;
                    color: #f4f4f4;
                    width: 100%;
                }
            }
        }
        
        // active menu
        @media (max-width: 768px){
        &.active {
            right: -5vw;
            ul {
                border: 1px solid $text-brand;
            width: 95%;
            padding: 1em .5em;
            display: flex;
            flex-direction: column;
            align-items: right;
            justify-content: center;
            }
        }
    }

        // desktop nav-list
        @media (min-width: 768px) {
            position: relative;
            display: flex;
            background-color: #000;
            right: 0;
            top: 0;
            padding: .3em 0;
            border-radius: 5px;
            min-height: auto;
            z-index: 5;

        ul {
            display: flex;
            flex-direction: row;
            li {
                margin: 0 .5em 0 2em;
                a {
                    color: $text-brand;
                    cursor: pointer;
                    display: block;
                }
                &:hover {
                    a {
                        color: $text-brand-hover;
                    }
                }
            }
        }
        }

        // end of desktop nav-list
    }

    // end of nav-list mobile first**
}
#container {
    @media (min-width: 768px){
        padding: 0 5vw;
    }
    margin: 5vh 0;
    width: 100%;
    overflow-x: hidden;
    padding: 1em 0;
    position: relative;
    transition: .5s;
    // background dim when nav open
    @media (max-width: 768px) {
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $overlay-blue-dark;
            opacity: 0;
            transition: .5s;
            z-index: -5;
        }
        &.dim {
            &::after {
                opacity: .5;
                z-index: 5;
            }
        }
    }
    
    

    header {
        text-align: center;
        margin: 1em auto;
        min-height: 100vh;
        h1 {
            font-size: 2.5em;
            color: $overlay-blue-dark;
        }
        h2 {
            font-size: 1.5em;
            color: #ffff;
            margin: .5em auto;
            text-shadow: 1px 1px 1px $overlay-blue-dark, 
                        0 0 5px $text-brand,
                        0 0 20px #000a;
        }
        p {
            font-size: 1em;
            margin: .5em auto;

            a {
                color: $text-dark;
                transition: .2s;
                &:hover {
                    color: $text-hover-dark;
                    text-decoration: none;
                }
            }
        }

        figure {
            width: 80%;
            overflow: hidden;
            margin: 10vh auto 5vh;
            border-radius: 35px;
            background: $overlay-blue-dark;
            img {
                width: 100%;
                border-radius: 5px;
                transition: .2s;
            }
            &:hover {
                img {
                    transform: scale(.95);
                }
            }
            &:active {
                img {
                    transform: scale(.8);
                }
            }

        }
        // DESKTOP HEADER
        @media (min-width: 768px) {
            // background-color: pink;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            .title {
                margin: 0 5vw;

                h1 {
                    font-size: 3.5em;
                }
                h2 {
                    font-size: 2em;
                }
                p {
                    font-size: 1.3em;
                }
            }
            figure {
                width: 40%;
                margin: 0 5vw;
                overflow: hidden;
            }
    }
    }

 

}
footer {
    width: 100%;
    padding: 1em 5vw;
    background-color: #000;
    color: $text-brand;
    text-align: center;
    text-transform: capitalize;

    p {
        color: #f4f4f4;
        margin-top: .5em;
    }
}