@import 'variables';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-size: 16px;
    overflow-x: hidden;
}

#container {
    width: 100%;
    overflow-x: hidden;
    padding: 0 5vw;
    position: relative;

    #nav {
        z-index: 10;
        position: sticky;
        top: 0;
        height: 5vh;
        background-color: #eee;
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .brand {
            h1 {
                a {
                    font-size: .9em;
                    text-decoration: none;
                    color: #000;
                    text-transform: capitalize;
                }
            }
        }

        // hamburger display
        .nav-toggle {
            border: 1px solid #000;
            padding: .5em;
            border-radius: 50%;
            position: absolute;
            right: 0;
            width: 1.5em;
            height: 1.5em;
            cursor: pointer;
            display: grid;
            place-items: center;
            transition: .3s ease;

            .bar {
                position: absolute;
                width: 70%;
                height: 2px;
                background-color: #000;
            }

            &:hover {
                transform: scale(.95);
            }

            &:active {
                transform: scale(.9);
            }

            // desktop: hide hamburger
            @media (min-width: 768px) {
                display: none;
            }
        }

        // nav-list mobile first**
        .nav-list {
            list-style: none;
            border: none;
            background-color: #fff000;
            color: #f4f4f4;
            width: 100%;
            position: absolute;
            right: -110%;
            top: 5vh;
            transition: .5s;
            z-index: -1;

            li {
                margin-bottom: 1em;

                a {
                    text-decoration: none;
                    text-transform: capitalize;
                    color: #f4f4f4;
                }
            }

            // active menu
            &.active {
                right: 0;
            }

            // desktop nav-list
            @media (min-width: 768px) {
                position: relative;
                display: flex;

                background-color: #ddd;
                right: 0;
                top: 0;
                padding: 0;

                li {
                    margin: 0 1em;
                    cursor: pointer;

                    a {
                        color: #000;
                    }
                }
            }

            // end of desktop nav-list
        }

        // end of nav-list mobile first**
    }

    header {
        text-align: center;
        margin: 1em auto;
    }

    form {
        border: 1px solid #000;
        margin: 5vh 0;
        padding: .2em;

        .input-div {
            display: flex;
            flex-direction: column;
            // border: 2px solid red;
            margin: .5em 0;
            padding: .5em .1em;

            label {
                // border: 1px solid green;
                margin-bottom: .5em;
                text-transform: capitalize;
            }

            input {
                // border: 2px dashed blue;
                padding: .5em;
            }
        }
    }

    footer {
        width: 100%;
        padding: .5em 5vw;
        background-color: #ddd;
        text-align: center;
        position: sticky;
        bottom: .5em;
    }
}